@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
* {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background:rgba(0,0,0,0.2);
  height: 15vh;
  align-items: center;
}
.main-nav ul {
  margin: 0;
  height: 62px;
}
.main-nav ul li {
  display: inline-block;
}
.main-nav ul li a {
  color: #FFF;
  font-weight: bold;
  padding: 30px;
  line-height: 72px;
  
}
.footer { 
  color: pink;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

#about {
   margin: 100px 0px 30px 0px;
  text-align: center;
  color: white;
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0a/78/1b/cf/late-night-view.jpg');
  display: inline-block;
}
